<div class="about_section">
    <div class="container">
        <h1 class="about_taital text-center mb-4">Markete Hoşgeldiniz</h1>
        <p class="lorem_text text-center mb-5">Tek Tıkla Anında kapınızında Kolay Ve Hızlı Siparişinizi Verebiliz Ve Kampayalardan Faydalanabilirsiniz</p>
        <div class="row row-cols-1 row-cols-md-6 g-3">
            <% products.forEach(product => { %>
                <div class="col text-center">
                    <div class="box_section border rounded p-3">
                        <div class="image_4">
                            <img src="<%= product.image_url %>" class="img-fluid rounded" alt="Product Image">
                        </div>
                        <h2 class="dolor_text">
                            <span style="color: #ebc30a;">
                                <%= product.price %> TL
                            </span>
                        </h2>
                        <h2 class="dolor_text">
                            <%= product.name %>
                        </h2>
                        <h2 class="dolor_text_1">1 kg</h2>
                        <p class="tempor_text">
                            <%= product.description %>
                        </p>
                        <p class="tempor_text">Son <%= product.stock %> kg</p>
                        <div class=""><a href="/shop/product/<%= product.id %>" class="btn btn-warning">Satın Al</a></div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>
