<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
  <!--header section start -->
    <%- include('../partials/header') %>
  <!--header section end -->

  <!--about section start -->
    <%- include('../layouts/about-section') %>
  <!--about section end -->

  <!--footer section start -->
    <%- include('../partials/footer') %>
  <!--footer section end -->
  
  <!--copyright section start -->
  <%- include('../partials/copyright') %>
  <!--copyright section end -->

</body>
</html>