<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
  <!--header section start -->
  <%- include('../partials/header') %>
  <!--header section end -->

  <!--banner section start -->
    <%- include('../layouts/home-banner') %>
  <!--banner section end -->

  <!--about section start -->
  <%- include('../layouts/about-section') %>
  <!--about section end -->

  <!--choose section start -->
  <%- include('../layouts/choose-section') %>
  <!--choose section end -->

  <!--testimonial section start -->
  <%- include('../layouts/testimonial-section') %>
  <!--testimonial section end -->

  <!--footer section start -->
  <%- include('../partials/footer') %>
  <!--footer section end -->
  
  <!--copyright section start -->
  <%- include('../partials/copyright') %>
  <!--copyright section end -->

</body>

</html>