<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
  <!--header section start -->
  <%- include('../partials/header') %>
  <!--header section end -->

  <!--choose section start -->
  <%- include('../layouts/products') %>
  <!--choose section end -->

  <!--footer section start -->
  <%- include('../partials/footer') %>
  <!--footer section end -->
  
  <!--copyright section start -->
  <%- include('../partials/copyright') %>
  <!--copyright section end -->

</body>
</html>